body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
.notfound {
  width: 100%;
  height: 100vh;
  /* background-image: url(../src/assets/dance.jpeg); */
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.notfound div h1 {
  font-family: sans-serif;
  font-style: normal;
  font-size: 4rem;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.2;
  margin: 24px 0;
}
.notfound div p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.8rem;
  line-height: 1.33333;
  max-width: 560px;
  margin: 2rem auto;
}
.notfound div button {
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: #0073b1;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-duration: 167ms;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px transparent,
    inset 0 0 0 1px transparent;
}
/* .app__wrapper {
  width: 100%;
  margin: 0 auto;
} */

/* @media (max-width: 991px) {
  .app__wrapper {
    width: 90%;
  }
}
@media (max-width: 650px) {
  .app__wrapper {
    width: 95%;
  }
}
@media (max-width: 450px) {
  .app__wrapper {
    width: 100%;
  }
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
